.info {
    background-color: #c7cec9;
    padding: 150px 15px;
}

.info-cont {
    max-width: 55vw;
    margin: 0 auto;
    text-align: center;
}

.info h2 {
    margin-bottom: 18px;
}

.info p {
    letter-spacing: 0.7px;
}

@media (max-width: 920px) {
    .info {
        padding: 70px 15px;
    }

    .info-cont {
        max-width: 100%;
    }
}

.jessie {
    background-color: #485342;
}

.miller {
    background-color: #dbe2dd;
}

.jessie .fl-setup-img {
    background-image: url(/ASSETS/IMAGES/image-horizontal.jpg);
}

.miller .fl-setup-img {
    background-image: url(/ASSETS/IMAGES/image-horizontal.jpg);
}

.miller .h4-b {
    width: 330px;
}

.miller .fl-setup {
    flex-direction: row-reverse;
}

.miller .fl-setup-cont {
    padding-left: 5vw;
}

.jessie .fl-setup-cont {
    padding-left: 100px;
}

@media (max-width: 1260px) {
    .jessie .fl-setup-cont {
        padding-left: 70px;
    }
}

@media (max-width: 920px) {
    .miller .fl-setup {
        flex-direction: column;
    }

    .miller .fl-setup-cont,
    .jessie .fl-setup-cont {
        padding: 0;
    }

    .jessie,
    .miller {
        padding: 100px 15px;
    }
}