.culture-pg .info-cont {
    max-width: 60vw;
}

.culture-pg .info p {
    max-width: 40vw;
    margin: 0 auto;
}

@media (max-width: 920px) {
    .culture-pg .info-cont {
        max-width: 100%;
    }

    .culture-pg .info p {
        max-width: 100%;
    }
}

.culture-pg .fl-setup-img {
    height: 590px;
}

.colorful {
    background-color: #5c6756;
}

.ancient {
    background-color: #dbe2dd;
}

.exotic {
    background-color: #c7cec9;
}

.colorful .fl-setup-img {
    background-image: url(/ASSETS/IMAGES/image-horizontal.jpg);
}

.ancient .fl-setup-img {
    background-image: url(/ASSETS/IMAGES/image-horizontal.jpg);
}

.exotic .fl-setup-img {
    background-image: url(/ASSETS/IMAGES/image-horizontal.jpg);
}

.ancient .h4-b {
    width: 330px;
}

.ancient .fl-setup {
    flex-direction: row-reverse;
}

.ancient .fl-setup-cont {
    width: 610px;
}

.colorful .fl-setup-cont,
.exotic .fl-setup-cont {
    padding-left: 100px;
}

.culture-pg .offer {
    background-color: #5c6756;
}

@media (max-width: 1260px) {
    .colorful .fl-setup-cont,
    .exotic .fl-setup-cont {
        padding-left: 70px;
    }

    .ancient .fl-setup-cont {
        width: 47.5vw;
    }
}

 @media (max-width: 920px) {
    .ancient .fl-setup {
        flex-direction: column;
    }

    .colorful .fl-setup-cont,
    .ancient .fl-setup-cont,
    .exotic .fl-setup-cont {
        padding: 0;
    }

    .ancient .fl-setup-cont {
        width: 100%;
    }

    .colorful,
    .ancient,
    .exotic {
        padding: 70px 15px;
    }

    .ancient .fl-setup-cont p {
        width: 100%;
    }

    .culture-pg .fl-setup-img {
        height: 51vh;
    }
}