.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.header-bg {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 1;

    transition: all 0.3s ease;
}

.appear {
    background-color: #485342;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header-nav a {
    margin-left: 45px;
}

.visit {
    height: 30px;
    display: flex;

    position: relative;
}

.visit svg {
    color: #fff;
    margin-left: 10px;
    margin-top: 7px;
}

.visit-options {
    display: flex;
    flex-direction: column;
    background-color: #485342;
    border-radius: 5px;

    position: absolute;
    top: 63px;
    left: 42px;
    padding: 13px 0 0 0;

    transform: translateY(-10%);
    opacity: 0;
    transition: all 0.5s ease;
}

.visit-options a {
    width: fit-content;
    margin: 0 25px 16px 25px;
}

.header-nav a:hover {
    border-bottom: solid 1px #fff;
    margin-bottom: 6px;
}

.visit-options a:hover {
    border-bottom: solid 1px #fff;
    margin-bottom: 13px;
    padding-bottom: 2px;
}

.visit:hover .visit-options {
    transform: translateY(0);
    opacity: 1;
}

.visit:hover svg {
    transform: rotate(180deg);
}

.menu-btn {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    position: relative;
    transition: all 0.3s ease;

    display: none;
}

.menu-btn-burger {
    width: 23px;
    height: 2px;
    background: #fff;

    transition: all 0.3s ease;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
    content: '';
    width: 23px;
    height: 2px;
    background: #fff;
    position: absolute;
    
    transition: all 0.3s ease;
}

.menu-btn-burger::before {
    transform: translateY(-7px);
}

.menu-btn-burger::after {
    transform: translateY(7px);
}

.menu-btn.open .menu-btn-burger {
    background: transparent;
}

.menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg);
}

.menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg);
}