@media (max-width: 1260px) {
    .container {
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 920px) {
    .logo {
        font-size: 15px;
    }

    .header-nav {
        /* display: none; */
    }

    .header-bg {
        background-color: #485342;
        height: 73px;
    }

    .header {
        padding: 24px 15px;
    }

    .menu-btn {
        display: flex;
    }

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 56px;
    }
    
    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    
    .header-nav {
        position: absolute;
        top: 73px;
        left: 0;
        width: 100%;
        flex-direction: column;
        
        text-align: right;
        background-color: #485342;
        padding: 25px 15px;
    }
    
    .header-nav a {
        margin-left: auto;
        margin-bottom: 30px;
        width: fit-content;
    }

    .header-nav a:last-child {
        margin-bottom: 0;
    }
    
    .visit {
        flex-direction: row-reverse;
        height: 21px;
        margin-bottom: 30px;
        margin-left: auto;
        width: fit-content;
    }

    .visit a {
        margin-left: 10px;
    }

    nav a {
        font-size: 16px;
    }

    .header-nav a:hover {
        margin-bottom: 29px;
    }
    
    .header-nav a:last-child:hover {
        margin-bottom: -1px;
    }

    .visit-link:hover {
        border-bottom: solid 1px #fff;
        padding-bottom: 25px;

    }

    /* .visit-options a:hover {
        margin-bottom: 13px;
        padding-bottom: 2px;
    } */
    

    .visit-options {
        /* width: 100%; */
        /* display: flex; */
        display: block;
        flex-direction: column;
        background-color: #6e97b6;
        border-radius: 5px;
    
        position: absolute;
        top: 50px;
        left: 0;
        padding: 13px 0 0 0;
    
        /* transform: translateY(-10%); */
        opacity: 1;
        transition: all 0.5s ease;
    }


    .hero {
        height: 600px;
    }

    .hero div {
        height: 600px;
        padding: 210px 15px 0 15px;
    }

    .hero p {
        margin-bottom: 35px;
        width: 100%;
    }

    .hero h2,
    .hero h1 {
        margin-bottom: 0px;
    }

    .md-setup {
        /* text-align: center; */
        padding: 80px 15px;
    }

    .md-setup-flex {
        flex-direction: column;
    }

    .md-setup-img1,
    .md-setup-img2,
    .md-setup-img3 {
        width: 100%;
        height: 100vh;
        margin-bottom: 15px;
    }

    .licence h2 {
        margin-bottom: 50px;
    }
    
    .licence h3 {
        margin-bottom: 15px;
    }

    .licence button {
        margin-bottom: 55px;
    }

    .licence-relaxation button {
        margin-bottom: 0px;
    }
}