* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
}

img,
iframe {
    width: 100%;
    vertical-align: bottom;
}

body {
    letter-spacing: 1.3px;
}

.container {
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    background-image: url(/ASSETS/IMAGES/image-horizontal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 930px;
}

.hero div {
    height: 930px;
    padding: 310px 0 200px 0;
}

.hero h2,
.hero h1 {
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 40px;
    width: 660px;
}

.button {
    letter-spacing: 3px;
    background-color: transparent;
    border: solid 3px #fff;
    padding: 6px 40px;
    border-radius: 30px;
}

.button-gray {
    border: solid 3px #485342;
}

.licence {
    background-color: #c7cec9;
}

.md-setup {
    text-align: center;
    padding: 140px 0 150px 0;
}

.md-setup-img1,
.md-setup-img2,
.md-setup-img3 {
    width: 100%;
    height: 35vh;
    /* width: 315px;
    height: 365px; */
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}

.licence-adventure .md-setup-img1 {
    background-image: url(/ASSETS/IMAGES/image-vertical.jpg);
}

.licence-culture .md-setup-img2 {
    background-image: url(/ASSETS/IMAGES/image-vertical.jpg);
}

.licence-relaxation .md-setup-img3 {
    background-image: url(/ASSETS/IMAGES/image-vertical.jpg);
}

.licence-adventure,
.licence-culture,
.licence-relaxation {
    width: 320px;
    text-align: center;
}

.md-setup-flex {
    display: flex;
    justify-content: space-around;
}

.licence h2 {
    margin-bottom: 75px;
}

.licence h3 {
    margin-bottom: 25px;
}

.place-to-be {
    background-color: #dbe2dd;
}

.in-love {
    background-color: #485342;
}

.fl-setup {
    display: flex;
    align-items: center;
}

.fl-setup-img,
.fl-setup-cont {
    width: 50%;
}

.fl-setup-img {
    height: 770px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.place-to-be .fl-setup-img {
    background-image: url(/ASSETS/IMAGES/image-horizontal.jpg);
}

.in-love .fl-setup-img {
    background-image: url(/ASSETS/IMAGES/image-horizontal.jpg);
}

.fl-setup-cont h4 {
    margin-bottom: 20px;
}

.fl-setup-cont p {
    letter-spacing: 1.3px;
    line-height: 1.7;
    width: 450px;
    margin-bottom: 27px;
}

.in-love .fl-setup {
    flex-direction: row-reverse;
}

.place-to-be .fl-setup-cont {
    padding-left: 100px;
}

.in-love .fl-setup-cont {
    padding-left: 130px;
}